.header{
    height: 101px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07) ;
    z-index: 2;
    background-color: white;
}
.header__logo{
    margin-right: 20px;
}
.header__logo > img {
    height: 50px;
    object-fit: contain;
}
.header__left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__left > a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    letter-spacing: 1.4px;
    opacity: 0.87;
    text-transform: uppercase;
    font-size: 14px;
}
.header__left > a:hover{
    color: #008248;
    transition: all 0.1s;
}
.header__right{}