.heading{
    text-align: center;
    margin: 60px 0;
    text-transform: uppercase;
    color: #1e3932;
    font-size: 45px;
    font-weight: 800;
}

@media (max-width: 768px) {
    .heading {
        font-size: 28px;
    }  
}

